/* Stylesheet for search-engine.html */

img.center {
  position: relative;
  display: block;
  margin: 198px auto 0 auto;
}

.formwrap {
  display: flex;
  justify-content: center;

}

input[type = search-engine] {
  display: block;
  margin: 10px auto 10px auto;
  border-bottom: rgb(0, 0, 0);
}

input[type = submit] {
  flex-basis: 1;
}
